* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    padding: 8px;
    width: 200px;
    background-color: #cccccc66;
}

button {
    font: inherit; 
    padding: 0;
    margin: 0;
    cursor: pointer;
    appearance: none;
}

.box {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.box.digit:active {
  box-shadow: 0px 0px 2px 2px #fc894d;
  background-color: #cccccc0a;
}

.box.clear:active {
  box-shadow: 0px 0px 2px 2px #fc894d;
  background-color: #cccccc0a;
}

.box.operator:active {
  box-shadow: 0px 0px 2px 2px #fc894d;
  background-color: #ffcc00a9;
}

.sub-container {
    display: flex;
    gap: 2px;
}

.operator {
    background-color: #ffcc00;
    border-color: none;
}

.display {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: white;
    text-align: right;
    padding: 3px;
    height: 44px;
}

.digit,
.clear {
    background-color: white;
}

.box.shining {
  outline: 2px solid #00000081;
  outline-offset: -3px;
}